--- 
---
 * {
}

.navbar-end {
    a {
        color: black
    }
}

.navbar {
	.navbar-end {
		margin-right: 100px;
	}
	.navbar-item:not(.navbar-brand) {
		padding: 0 30px;
	}

	.navbar-brand {
		img {
			max-height: 100px
		}
	}
}


.home {
	padding: 30px;
	p {
		padding: 30px;
	}

	.hero {
		img {
			object-fit: cover;
			border: black solid 3px;
		}
		p {
			padding: 100px 30px;
		}
	}
}

.bg {
	transform: translateY(-180px);
	
	background: url('/assets/digmabg.png');
	content: "";
	height: 800px;
	width: 100vw;
	background-size: cover;
	position: absolute;
	right: -300px;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		position: fixed;		
	}
}

.companies {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	// align-items: center;
	.company {

		padding: 0 30px;
		border-right: solid 1px black;
		.image {
			text-align: center;
			display: flex;
			justify-content: center;
			margin: auto;
			content: "";
			img {
				height: 200px;
				width: auto;
				object-fit: contain;
			}
			// border: solid 1px red;
		}
		&:last-child {
			border: none;
		}
	}

	p {
		padding: 0;
	}

	padding-top: 100px;
	padding-bottom: 180px;
	@media (max-width: 1200px) {
		flex-direction: column;	
		.company {
			border: none;
			border-bottom: solid 1px black;
			padding: 10vw;
			.image {
				margin: auto;
				content: "";
				img {
					height: 100px;
					width: 150px;
					object-fit: fill;
					width: auto;
				}
				// border: solid 1px red;
			}
			&:last-child {
				border: none;
			}

			p {
				padding-top: 60px;
				margin: auto;
				width: 40vw;
				text-align: center;
			}
		}
	}
}

.galeri {
	margin: 120px 0;
	.content {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
		.image {
			content: "";
			border: solid 1px red;
			width: 100px;
			height: 100px;
		}
	}
}

.navbar-mobile {
	@media (min-width: 1200px) {
		display: none;
	}
	display: flex;
	img {
		height: 100px;
	}
	border-bottom: solid 1px #c4c4c4;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	.menu {
		i {
			font-size: 30px;
		}
	}
}

.kontak {
	margin: 120px 0;
	.content {
        padding-top: 30px;
        display: flex;
        justify-content: center;
		.image {
        }

        .map {
            border: solid 1px red;
            width: calc(100% - 440px);
		}

		@media (max-width: 768px) {
			flex-direction: column-reverse;
			iframe {
				height: 300px;
				width: 100% !important;
			}
		}
		
		
	}

	
}

#footer {
	display: flex;
	align-items: center;	
	justify-content: center;
	background: #c4c4c4;
	height: 48px;
	text-align: center;
	vertical-align: middle;
}