--- 
---
 * {
	 font-family: 'Lato';
}

.navbar-end {
    a {
        color: black
    }
}

.navbar {
	margin-top: 30px;
	.navbar-end {
		margin-right: 100px;
	}
	.navbar-item:not(.navbar-brand) {
		padding: 0 30px;
	}

	.navbar-brand {
			@media (max-width: 768px) {
				.navbar-item {
					width: 100%;
				}
			}
		img {
			max-height: 100px;
			@media (max-width: 768px) {
				max-height: 50px;
				margin: auto;
			}
		}
	}
}


.home {
	padding: 30px 100px;
	@media (max-width: 768px) {
		padding: 30px;	
	}
	p {
		padding: 30px;
	}

	.hero {
		img, video {
			object-fit: cover;
			border: black solid 3px;
			height: auto;
		}
		p {
			padding: 100px 30px;
			@media (max-width: 768px) {
				padding: 30px 0;
			}
			padding-bottom: 30px;
		}
	}
}

.bg {
	transform: translateY(-180px);
	
	background: url('/assets/digmabg.png');
	content: "";
	height: 800px;
	width: 100vw;
	background-size: cover;
	position: absolute;
	right: -300px;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		position: fixed;		
	}
}

.companies {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	// align-items: center;
	.company {

		padding: 0 30px;
		border-right: solid 1px black;
		.image {
			text-align: center;
			display: flex;
			justify-content: center;
			margin: auto;
			content: "";
			img {
				height: 200px;
				width: auto;
				object-fit: contain;
			}
			// border: solid 1px red;
		}
		&:last-child {
			border: none;
		}
	}

	p {
		padding: 0;
	}

	padding-top: 100px;
	padding-bottom: 180px;
	@media (max-width: 768px) {
		padding: 60px 0;	
		margin: 0;
	}

	@media (max-width: 1200px) {
		flex-direction: column;	
		.company {
			border: none;
			border-bottom: solid 1px black;
			padding: 10vw;
			.image {
				margin: auto;
				content: "";
				img {
					height: 100px;
					width: 150px;
					object-fit: fill;
					width: auto;
				}
				// border: solid 1px red;
			}

			&:first-child {
				border-top: solid 1px black;
			}

			&:last-child {
				border-bottom: solid 1px black;
			}

			p {
				padding-top: 60px;
				margin: auto;
				width: 40vw;
				text-align: center;
			}
		}
	}
}

.galeri {
	margin: 60px 0;
	overflow: hidden;
	.content-container {
		display: flex;
		justify-content: center;
		align-items: center;
		.fas {
			color: black;
			font-size: 30px;
			margin: 15px;
		}
	}
	.content {

		width: 80vw;
		overflow: hidden;
		.slider {
			border: none !important;
			.slider-navigation-next,
			.slider-navigation-previous {
				display: none
			}
		}
        padding-top: 30px;
        display: flex;
        justify-content: center;
		.image {
			content: "";
			width: 200px;
			height: 200px;
			margin: 0 15px
		}

		.modal {
			.image {
				width: 400px;
				height: 400px;
			}
		}

	@media (max-width: 768px) {
		flex-direction: column;
		.image {
			// margin: 30px auto;
		}	
	}
	}
}

.navbar-mobile {
	@media (min-width: 1200px) {
		display: none;
	}
	display: flex;
	img {
		height: 70px;
	}
	border-bottom: solid 1px #c4c4c4;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	.menu {
		i {
			font-size: 30px;
		}
	}
}

.kontak {
	.content {
        padding-top: 30px;
        display: flex;
        justify-content: center;
		.image {
			@media (min-width: 768px) {
				margin-right: 20px;	
			}
        }

        .map {
            border: solid 1px red;
            width: calc(100% - 440px);
		}

		@media (max-width: 768px) {
			padding: 10vw;
			flex-direction: column-reverse;

			iframe {
				height: 300px;
				width: 100% !important;
				margin-bottom: 30px;
			}
		}
		
		
	}

	
}

.linimasa {
	margin-top: 60px;
	img {
		padding: 0 30px;
		width: 100%;
	}
}

#footer {
	display: flex;
	align-items: center;	
	justify-content: center;
	background: #c4c4c4;
	height: 48px;
	text-align: center;
	vertical-align: middle;
}

.to-top {
	font-size: 30px;
	position: fixed;
	right: 5vw;
	z-index: 100;
	bottom: 5vw;
	a {
		color: black;
	}
}

#container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hide {
	display: none !important;
}

#blog, #post {
	a {
		color: #4A4A4A;
	}
	display: flex;
	flex-direction: column;
	#header {
		margin: auto;
		margin: 30px auto 60px auto;
		@media (max-width: 768px) {
			margin-bottom: 60px;	
		}
	}

	.post-list {
		margin-left: 120px;
		&.home-view {
			margin: 0;
		}
		@media (max-width: 768px) {
			margin: 0;
			.title {
				margin-left: 30px;
				font-size: 20px;
			}
		}
	}
	.post-item {

		margin-top: 60px;
		margin-left: 30px;
		display: flex;
		@media (max-width: 768px) {
			margin: auto;
			padding: 30px;
			text-align: center;
		}
		.image {
			margin-right: 30px;
			align-items: center;
			width: 100px;
			height: 100px;
			background: #c4c4c4;
			@media (max-width: 768px) {
				margin: 0;
			}
		}

		.content {
			font-size: 18px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media (max-width: 768px) {
				max-width: 100px;
				font-size: 10px;
				text-overflow: ellipsis;
				width: 100px;
				white-space: nowrap;
				overflow: hidden;
			}
			@media (max-width: 768px) {
				padding: 0 30px;
			}		

			*, p {
				margin: 0;
				padding: 0;
			}
		}

	}


	.post {
		margin: auto;

		.thumbnail {
			margin: 60px auto;
			text-align: center;
			img {
				width: 700px;
				height: 500px;
			}
		}
	}

	.pagination {
		margin: 30px;
		justify-content: center;

		.arrow {
			margin: 0 15px;
			font-size: 30px;
		}
	}
}

.link-button {
	display: block;
	border: solid 1px #c4c4c4;
	color: #c4c4c4 !important;
	padding: 10px 25px;
	border-radius: 35px;
	margin: 60px auto;
	width: fit-content;

	&:hover {
		color: white !important;
		background: #c4c4c4;
	}
}

.image {
	img {
		width: 100% !important;
		height: 100% !important;
		object-fit: cover;
	}
}

