<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="/assets/digmalogo.png" style="" height="100px">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <!-- <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span> -->
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
       </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div>
                    <a href="">Home</a>
                </div>
           </div>
            <div class="navbar-item">
                <div>
                    <a href="">Contact</a>
                </div>
           </div>
 
            <div class="navbar-item">
                <div>
                    <a href="">Galeri</a>
                </div>
           </div>
 
        </div>
    </div>
</nav>
