---
layout: default
---



<div id="blog">
    <a href="/" id="header">
        <img src="/assets/digmalogo.png" style="" height="100px">
    </a>
    <div class="post-list">
        <div class="title is-4">Artikel</div>
        {% for post in paginator.posts limit: 4 %}
        <a href="{{post.url}}">
            <div class="post-item">
                <div class="image">
                    <img src="{{post.thumbnail}}" alt="">
                </div>
                <div class="content">
                    <div class="blog-title"><strong>{{post.title}}</strong></div>
                    <div class="excerpt">lorem ipsum dolor sit amet, consectetur adipiscing elit. morbi ipsum diam arcu
                        neque
                        gravida dictumst accumsan mauris viverra.</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if paginator.page > 1 %}
        <div class="arrow prev" onclick="">
            {% if paginator.page == 2 %}
            <a href="{{'/blog'}}" class="fas fa-chevron-circle-left"></a>
            {% else %}
            <a href="{{'/blog/page' | append: paginator.previous_page}}" class="fas fa-chevron-circle-left"></a>
            {% endif %}
        </div>
        {% endif %}

        {% if paginator.page < paginator.total_pages %}
        <div class="arrow next" onclick="">
            <a href="{{'/blog/page' | append: paginator.next_page}}" class="fas fa-chevron-circle-right"></a>
        </div>
        {% endif %}
    </div>

    <a href="/" class="link-button">kembali ke home</a>
</div>