---
layout: default
---



<div id="blog">
    <a href="/" id="header">
        <img src="/assets/digmalogo.png" style="" height="100px">
    </a>
    <div class="post-list">
        <div class="title is-4">Artikel</div>
        <div class="post-item">
            <div class="image">

            </div>
            <div class="content">
                <div class="blog-title"><strong>hello world</strong></div>
                <div class="excerpt">lorem ipsum dolor sit amet, consectetur adipiscing elit. morbi ipsum diam arcu
                    neque
                    gravida dictumst accumsan mauris viverra.</div>
            </div>
        </div>
        <div class="post-item">
            <div class="image">

            </div>
            <div class="content">
                <div class="blog-title"><strong>hello world</strong></div>
                <div class="excerpt">lorem ipsum dolor sit amet, consectetur adipiscing elit. morbi ipsum diam arcu
                    neque
                    gravida dictumst accumsan mauris viverra.</div>
            </div>
        </div>
        <div class="post-item">
            <div class="image">

            </div>
            <div class="content">
                <div class="blog-title"><strong>hello world</strong></div>
                <div class="excerpt">lorem ipsum dolor sit amet, consectetur adipiscing elit. morbi ipsum diam arcu
                    neque
                    gravida dictumst accumsan mauris viverra.</div>
            </div>
        </div>
        <div class="post-item">
            <div class="image">

            </div>
            <div class="content">
                <div class="blog-title"><strong>hello world</strong></div>
                <div class="excerpt">lorem ipsum dolor sit amet, consectetur adipiscing elit. morbi ipsum diam arcu
                    neque
                    gravida dictumst accumsan mauris viverra.</div>
            </div>
        </div>
    </div>

    <a href="/" class="link-button">kembali ke home</a>
</div>