---
layout: default
---

<div class="home">
    <div class="bg-container">
        <div class="hero">
            <img src="/assets/digmahero.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, praesent elit habitant non
                convallis
                elit. In vel diam ut adipiscing neque, consectetur nunc. Ornare ac non dis sagittis interdum quam odio.
                Facilisis felis convallis eu eu pretium. Nisi, a sit et in nec dis ultricies ultricies eget. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Donec volutpat, praesent elit habitant non convallis elit.
                In
                vel diam ut adipiscing neque, consectetur nunc. Ornare ac non dis sagittis interdum quam odio. Facilisis
                felis convallis eu eu pretium. Nisi, a sit et in nec dis ultricies ultricies eget.</p>
        </div>

        <div class="bg"></div>
        <div class="companies">
            <div class="company">
                <div class="image"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada diam lacinia lectus tellus
                    lobortis
                    tellus. Pellentesque facilisi faucibus commodo pretium et id.</p>

            </div>

            <div class="company">
                <div class="image"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada diam lacinia lectus tellus
                    lobortis
                    tellus. Pellentesque facilisi faucibus commodo pretium et id.</p>

            </div>

            <div class="company">
                <div class="image"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada diam lacinia lectus tellus
                    lobortis
                    tellus. Pellentesque facilisi faucibus commodo pretium et id.</p>

            </div>

            <div class="company">
                <div class="image"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada diam lacinia lectus tellus
                    lobortis
                    tellus. Pellentesque facilisi faucibus commodo pretium et id.</p>

            </div>

            <div class="company">
                <div class="image"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada diam lacinia lectus tellus
                    lobortis
                    tellus. Pellentesque facilisi faucibus commodo pretium et id.</p>

            </div>

        </div>

        <div class="hero">
            <img src="/assets/digmahero2.png" alt="">
        </div>

        <div class="galeri">
            <h4 class="title is-4">Galeri</h4>
            <div class="content container">
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
            </div>
        </div>

        <div class="kontak">
            <h4 class="title is-4">Kontak</h4>
            <div class="content">
                <div class="image">
                    <img src="/assets/kontak.png" alt="">
                </div>
                <div class="image map"></div>
            </div>
        </div>
    </div>
</div>